.limitContentWidth {
    max-width: 90ch;
}

.nameColWidth {
    width: 20%;
}

.descriptionColWidth {
    width: 35%;
}

.defaultColWidth {
    width: 8%;
}

.buttonColWidth {
    width: 37%;
}

th, td {
    vertical-align: top;
}

/* sets the size of rivet icons */
.rvt-icon {
    width: 1rem;
    height: 1rem;
}